.configurator-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.header-insider {
    min-width: 280px;
    max-width: 2048px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header-insider p {
    font-size: 18px;
    padding: 3px;
    font-family: 'Rubik', sans-serif;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

.conf-section{
    display: flex;
    float: none;
    margin: 0 auto;
justify-content: space-around;/* padding: 50px; */}

.conf-nav {
    justify-content: center;
}

.conf-nav-collapse {
    margin: 0 auto;
}

.nav-item {
    justify-items: center;
    margin: 0 auto;
}
.nav-item {
    cursor: pointer;
}

.dropdown {
    margin: 0 auto;
}

.wrapper {
    display: none;
    padding: 20px;
}

.active {
    display: flex;
}

nav a {
    font-family: 'Rubik', sans-serif;
    color: black;
}

.parent-card {
    padding: 30px;
}

.activ {
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
}

.card-title{
    font-family: 'Playfair Display', serif;
}

.wrapper {
    justify-content: center;
    text-align: center;
    width: 100%;
}

.main-text {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 25px;
}

.back-to-home {
    justify-content: center;
    text-align: center;
    padding: 25px;
}
