* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/* width: 80%; */justify-content: center;}

body {
    overflow-x: hidden;
}

/* ########################################
HEADER 
#######################################  */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(2, 2, 2);
    color: whitesmoke;
}

header a {
    color: whitesmoke;
}

a {
    text-decoration: none;
}

.header-container {
    width: 70%;
    display: flex;
    align-items: center;
}

#header-logo {
    display: flex;
    color: whitesmoke;
    font-size: 20px;
    max-height: 7vh;
}

#header-logo a {
    color: whitesmoke;
}

#header-logo a img {
    max-width: 100%;
    max-height: 100%;
}

#header-components {
    display: flex;
}

#header-components a{
    color: whitesmoke;
    font-size: 20px;
}

.section-header {
    padding: 25px;
    display: block;
    margin-left: 7vw;
    font-family: 'Playfair Display', serif;
}

.filter {
    padding: 10px;
    display: block;
    border-right: rgb(220, 220, 220) 1px solid;
}

.filter li {
    font-size: 1em;
    display: block;
    padding: 5px;
    margin-left: 3vw;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.filter ul li:hover:not(.active) {
    color: rgb(78, 78, 255);
}

.filter ul li.active {
    font-size: 1.2em;
    font-weight: bold;
}

.filter-list-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery .itemBox {
    position: relative;
    width: 350px;
    height: 350px;
    padding: 10px;
    margin: 20px;
    margin-left: 50px;
    transition: 0.5s ease;
    cursor: pointer;
}

.itemBox-car {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.itemBox p {
    color: black;
}

.itemBox-link {
    height: 80%;
    width: 100%;
    position: relative;
}

.itemBox-link p{
    font-size: 1.1em;
    opacity: 0.5;
    position: relative;
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.itemBox-button {
    margin: auto;
    top: 80%;
    transform: translateY(-80%);
}

.itemBox-configure-button {
    opacity: 1 !important;
    border: rgb(220, 220, 220) 1px solid;
    border-radius: 30px;
    max-width: 60%;
}

.gallery .itemBox:hover {
    background-color: rgb(240, 240, 240);
}

.gallery .itemBox img {
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    bottom: 0;
    width: 100%;
    background: black;
    margin-top: 100px;
}

.footer-wrapper {
    color: white;
    display: flex;
}

.social-bar {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.social-bar ul {
    list-style: none;
    justify-content: space-between;
    
}

.social-bar ul li{
    display: inline;
    margin-right: 30px;
    font-size: 20px;
}

.up-button {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 30px;
}

.up-button a{
    color: white;
}


.parent-wrapper {
    align-items: center;
    margin:  0 auto;
    justify-content: center;
    display:  block;
    padding: 20px;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

.wrapper {
    justify-content: center;
    text-align: center;
    width: 100%;
}

.main-text {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 25px;
}

.back-to-home {
    justify-content: center;
    text-align: center;
    padding: 25px;
}